body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col1 {
  background-color: rgb(195, 38, 21);
}

.col2 {
  background-color: rgb(255, 217, 25);
}

.col3 {
  background-color: rgb(72, 35, 171);
}

.nav_popcorn {
  width: 100%;
}

.nav_popcorn_div {
  width: 4em;
  padding: 0.5em;
}

#navbar {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: auto;
}

#navbar h5, #navbar h1, #navbar input, .nav_button_div {  
    margin-top: auto;
}

.nav_button_div {
  margin-bottom: 0.4em;
  margin-left: -1em;
}

.nav_input {
  margin-bottom: 0.4em;
}

#coming_soon {
  margin-left: 0.5em;
}

#collections {
  margin-right: 0.5em;
}

/* .App {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(/public/img/Untitled.png);
  background-size: cover;
  background-color: black;
} */